@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>Hello, @User.Identity.Name</li>
        <li>@Html.ActionLink("Sign Out", "SignOut", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign In", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
